body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  background-image: url('/img/dubu.png');
  background-position: center;
  background-size: 1600px 900px;
  background-repeat: no-repeat;
 
}

.container {
  text-align: center;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 30%;
  height: auto;
  border-radius: 20px;
 
}

form {
  max-width: 500px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

input
{
  width: 60%;
  height: 4.2vh;
  
}
textarea {
  width: 62%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 20px;
}

a {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}

button.btn-submit
{
  margin-bottom: 10px;
  background-color: rgb(111, 199, 73);
  width: 50%;
  height: 4vh;
}
/* Default style untuk tombol */
button.btn-back {
  margin-bottom: 10px;
  background-color: rgb(220, 87, 66);
  width: 10%;
  height: 5.5vh;
  border-radius: 100%;
}

/* Responsif saat layar lebih kecil */
@media (max-width: 768px) {
  button.btn-back {
    width: 20%;
    height: 5vh;
  }
}

/* Responsif saat layar sangat kecil */
@media (max-width: 576px) {
  button.btn-back {
    width: 30%;
    height: 4.5vh;
  }
}
